<footer class="bg-main text-light" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; 2024 FIT, Hanoi University. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
