<div class="col-3 d-flex flex-column border-end border-2">
  <a href="/user/profile" class="text-dark text-decoration-none py-2 text-start"
    >Account Information</a
  >
  <a
    href="/user/change-password"
    class="text-dark text-decoration-none py-2 text-start"
    >Change password</a
  >
  <!-- For admin -->
  <a href="/book/manage" class="text-dark text-decoration-none py-2 text-start"
    >Manage product</a
  >
  <a
    href="/admin/manage-orders"
    class="text-dark text-decoration-none py-2 text-start"
    >Manage orders</a
  >
  <a
    href="/admin/manage-customers"
    class="text-dark text-decoration-none py-2 text-start"
    >Manage customers</a
  >
  <!-- For customers -->
  <a
    href="/user/my-order"
    class="text-dark text-decoration-none py-2 text-start"
    >My order</a
  >
  <a href="/auth/logout" class="text-dark text-decoration-none py-2 text-start"
    >Log out</a
  >
</div>
